<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div ng-controller="mainCtrl">
			<div>
				<input ng-model="input.level" type="number" placeholder="0"></input>
				<input ng-model="input.note" type="text" placeholder="note"></input>
				<button ng-click="addEvent(input.level, input.note, input.category)">Add</button>
				<select name="categorytoAdd" ng-model="input.category">
					<option value="">Select an option</option>
					<option value="meal">Meal</option>
					<option value="exercise">Exercise</option>
					<option value="work">Work</option>
					<option value="sleep">Sleep</option>
				</select>
				<!-- <input type="datetime-local"></input> -->
			</div>
			<div>
				<button ng-click="filterTime('day')">Day</button>
				<button ng-click="filterTime('week')">Week</button>
				<button ng-click="filterTime('month')">Month</button>
			</div>
			<div>
				<button ng-click="filterCategory('meal')">Meal</button>
				<button ng-click="filterCategory('exercise')">Exercise</button>
				<button ng-click="filterCategory('work')">Work</button>
				<button ng-click="filterCategory('sleep')">Sleep</button>
				<button ng-click="filterCategory('null')">None</button>
			</div>
			
			<graph data="lifeEventsInView" category="category.setTo"></graph>
		</div>



		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/d3module.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/controllers.js"></script>
	</body>
		
</html>