<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Productive Journal</title>
		<link rel="stylesheet" href="build/vendors.css">
		<link rel="stylesheet" href="css/compiled.css">
		<script type="text/javascript">
		    if (window.location.hash && window.location.hash == '#_=_') {
		        window.location.hash = '';
		    };
		</script>
	</head>
	<body ng-controller="mainCtrl">
		<ng-view></ng-view>
		<script src="build/concat.js"></script>
	</body>
</html>