<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
		<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="bower_components/ngQuickDate/dist/ng-quick-date.css">
		<link rel="stylesheet" href="bower_components/ngQuickDate/dist/ng-quick-date-default-theme.css">
		<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script type="text/javascript">
		    if (window.location.hash && window.location.hash == '#_=_') {
		        window.location.hash = '';
		    };
		</script>
	</head>
	<body>
		<div class="navbar navbar-default">

			<div class="navbar-view-options">
				<span class="button-outer">
					<span class="icon"><i class="lower-lg-icon fa fa-bar-chart-o fa-lg"></i></span>
					<span class="icon"><i class="lower-lg-icon fa fa-list-alt fa-lg"></i></span>
					<span class="icon"><i class="lower-lg-icon fa fa-bar-chart-o"></i><i class="small fa fa-list-alt"></i></span>
				</span>
				<div class="navbar-text-view">View</div>
			</div>

			<div class="navbar-add-event">
				<i class="lower-2x-icon fa fa-plus-circle fa-2x"></i>
				<div class="navbar-text-add">Add Event</div>
			</div>
			
			<div class="navbar-account">
				<i class="lower-lg-icon fa fa-calendar-o fa-lg"></i>
				<li class="dropdown navbar-text-account">
					<a class="dropdown-toggle">My Account</a>
				   <ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-cog fa-lg"></i> Settings </a></li>
					   <li><a href="#"><i class="fa fa-share"></i> Sign out</a></li>
				  </ul>
				</li>
				<i class="lower-lg-icon fa fa-angle-down fa-lg"></i>
			</div>
	
		</div>

		<div class="navbar navbar-lower navbar-default">
			<ul class="lower-navbar-items">
				<li>Time Filters</li>
				<li>Activity Filters</li>
				<button ng-click="showAddCategories = !showAddCategories">Categories</button>
				<button ng-click="showModify = !showModify">Events</button>
			</ul>
		</div>


		<br>
		<div ng-controller="mainCtrl">
			<button ng-click="loadData()">Load data</button>
			<button ng-click="login()">Log in</button>
			<div filterdir></div>
			<div add-category></div>
			<div modify></div>
			<div add></div>
			<graph data="lifeEventsInView" category="category.setTo" select="event.selected"></graph>
		</div>



		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/transition.js"></script>
		<script src="bower_components/dropdown.js"></script>
		<script src="bower_components/collapse.js"></script>
		<script src="bower_components/accordion.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/ngQuickDate/dist/ng-quick-date.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="bower_components/d3module.js"></script>
		<script src="js/graphDirective.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/controllers.js"></script>
	</body>
		
</html>