// =============================== OPTIONS AREA ===============================
$redInvalid: #FA787E;
$greenValid: #c1e2c3;
                                          //OPTIONS AREA --- global

@mixin boxShadow($offsetX, $offsetY, $blurRadius, $color, $offsetXb, $offsetYb, $blurRadiusb, $colorb) {
  -webkit-box-shadow: inset $offsetX $offsetY $blurRadius $color, $offsetXb $offsetYb $blurRadiusb $colorb;
          box-shadow: inset $offsetX $offsetY $blurRadius $color, $offsetXb $offsetYb $blurRadiusb $colorb;
}
.options-area {
  min-height: 105px;
}
article {
  border-top: 1px solid #D4D4D4;
  position: relative;
  text-align: center;
}
.options-area-component {
  display: inline-block;
  position: relative;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 4px;
  @include boxShadow(0, 0, 0, rgba(255, 255, 255, .90), 0, 1px, 1px, rgba(0, 0, 0, .15))
}
  
                          //OPTIONS AREA --- MEDIA QUERY log + graph view
@media (max-width: 1159px) {
  .log {
    border-radius: 10px;
  }
  graph {
    border-radius: 10px;
  }
}
                                    // OPTIONS AREA --- GRAPH
graph {
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px 0 0 10px;
  @include boxShadow(-10px, 0, 0, rgba(255, 255, 255, .90), 0, 5px, 10px, rgba(0, 0, 0, .15))
}
                                   // OPTIONS AREA --- LOG
.log {
  position: relative;
  margin: 0 0 0 -0.3em;
  top: .25em;
  display: inline-block;
  padding: 1em;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 10px 10px 0;
  overflow-y: scroll;
  height: 100%;
  border-left: solid 4px transparent;
  @include boxShadow(10px, 0, 0, rgba(255, 255, 255, .90), 0, 5px, 10px, rgba(0, 0, 0, .15))
}
th {
  border-bottom: solid 1px grey;
}
td, th {
  cursor: pointer;
  &:hover {
    background-color: rgba(240, 240, 215, 0.9);
  }
}
td {
  padding: 0 .9em 0 0;
  text-align: right;
}
.notesCursor {
  cursor: default;
}
tr:nth-child(odd) {
  background-color: rgba(232, 225, 209, 0.5);
}

                                // OPTIONS AREA --- addCategoryTemplate
.addCategory {
  position: relative;
  padding: 0 0 1em 0;
  button {
    margin: 1px 0 0 0;
  }
}
.addCategoryTemplate-DeleteError {
  margin: 0 0 0 2em;
}
.floatLeft {
  display: inline;
  float: left;
}
.margin-topbottom-oneEm {
  margin: 1em 0;
}
button.marginRight-pointSevenFive {
  margin-right: 0.75em;
}

                             // OPTIONS AREA --- moreCategoriesInputsTemplate
.moreCategoryInputsTemplate {
  margin: 0.5em 0 0 0;
}
                                  // OPTIONS AREA ---- modify
.modifyTemplate-noteSize {
  margin: 0.5em 0 0.5em 0;
}
                                // OPTIONS AREA ---- filterTemplate
.filterTemplate-timeFilters {
  margin: 0 0 1em 0;
  button {
    margin: 2px 0 2px 0; 
  }
}
                                    // OPTIONS AREA --- SLIDERS 
.sliderWidth {
  width: 150px;
  display: inline-block;
  margin: 0 0 0 1em;
}
.modifyTimeSpan {
  min-width: 175px;
  display: inline-block;
}
.energyLevelCaption {
  margin: 0 0.7em 0 .7em;
  width: 110px;
  position: relative;
  display: inline-block;
}
.sliderInMeal {
  margin: -1em 1em 0 0;
}
.mealSlider-caption {
  margin: 0.5em 0;
}
.moreCategories-slider-caption {
  width: 150px;
  margin: 0.5em 0;
  display: inline-block;
  position: relative;
}
.slidersInMoreCategories {
  margin: 0 1.5em;
}
.modify-e-slider {
  margin: 0 0 0 1em;
  display: inline-block;
}
                        // OPTIONS AREA --- MEDIA QURIES --- SLIDERS  + ADDNOTE (relevant)  
.addNote {
  margin: 0 0.5em 0 0;
}
.addNotice {
  display: inline-block;
  width: 200px;
  height: 20px;
  position: relative;
}
.addNotice .red {
  color: $redInvalid;
}
.addNotice .green {
  color: #44BA55;
}
@media (max-width: 532px) {
  .sliderWidth {
    margin: 0.5em 0 0.5em 1em;
  }
  .addNote {
    margin: 0 0 0.5em 0;
  }
}
.modify-e-caption {
  width: 112px;
  display: inline-block;
  margin: 0 0.8em 0 0.6em;
}
                                // OPTIONS AREA --- FORM VALIDATION



.addTemplate-addForm {
  input.ng-invalid.ng-valid {
    background-color: $redInvalid;
  }
  input.ng-valid.ng-valid {
    background-color: $greenValid;
  }
  select.ng-invalid.ng-dirty {
    background-color: $greenValid;
  }
  select.ng-valid.ng-dirty {
    background-color: $greenValid;
  }

}
.button-color {
  /*button color, form validated*/
}
.addCategoryTemplate-addCategoryForm {
  input.ng-invalid.ng-valid {
     background-color: #FA787E;
  }
  input.ng-valid.ng-valid {
    background-color: $greenValid;
  }
}

                                   // OPTIONS AREA --- ERROR
%notice {
  padding: 0.5em;
  border-radius: 3px;
  margin: 0 .3em;
  color: #fff;
  border: 1px solid transparent;
  cursor: default;
}                                  
.error {
  @extend %notice;
  background-color: $redInvalid;
  &:hover, &:focus {
    background-color: #BF5C60;
  }
}
                                //OPTIONS AREA -- SAMPLE DATA HEADER
.sampleData {
  @extend %notice;
  background-color: #66CC66;
}
.closeSampleDataHeader {
  float: right;
  cursor: pointer;
}
                                //OPTIONS AREA --- LOG-ONLY VIEW + MEDIA QUERIES
.log-view-large {
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 465px) {
  .log-view-large {
    font-size: 0.7em;
  }
}
@media (max-width: 365px) {
  .log-view-large {
    font-size: 0.6em;
  }
}
                            // OPTIONS AREA --- GRAPH-ONLY VIEW + MEDIA QUERIES
.graph-view-large graph {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .axis text {
    font-size: .6em;
  }
}
@media (max-width: 465px) {
  .axis text {
    font-size: .25em;
  }
}
.inlineblock {
  display: inline-block;
}
                                  // OPTIONS AREA --- INSTRUCTIONS
.instructions {
  overflow-y: scroll;
  width: 31.1%;
}