/* ------------------------- GRAPH style --------------------*/
.axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.line {
	fill: none;
	stroke: #4682b4;
	stroke-width: 3px;
}
.line-category {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}
.line_hover {
  fill: none;
  stroke: orange;
  stroke-width: 3px;
}
.axis text {
  font-family: sans-serif;
  font-size: .75em;
}
#title h1{
	text-align: center;
	font-family: sans-serif;
  font-size: 1.5em;
}
div.tooltip {   
  position: absolute;           
  text-align: center;           
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
.x.axis {
  font-size: 1.2em;
}

/* ------------------------- GRAPH style end --------------------*/

body {
  background-color: #EDEDED;
}

/*straight out of bootstrap temp------------------------------------ */
.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #DEDEDE 100%);
  background-image:         linear-gradient(to bottom, #fff 0%, #DEDEDE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#DEDEDE', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);*/
          /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);*/
}
.navbar-default-lower {
  background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #fff 100%);
  background-image:         linear-gradient(to bottom, #DEDEDE 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEDEDE', endColorstr='#ffffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .90), 0 1px 5px rgba(0, 0, 0, .15);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .90), 0 1px 5px rgba(0, 0, 0, .15);
  border-radius: 4px;
}
.navbar {
  position: relative;
  min-height: 50px;
  /*margin-bottom: 20px;*/
  border: 1px solid #D9D9D9;
}
.navbar-lower {
  min-height: 30px;
  height: 38px;
}
.lower-navbar-items {
  margin: 0.5em 0 0 0;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -50%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1em;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.open > .dropdown-menu {
  display: block;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/*my own -------------------------------------------------------------*/
/*NAVBAR --- VIEW */
.navbar-view-options {
  left: 5%;
  position: relative;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.button-outer {
  position: relative;
  padding: 0 0 0.4em 0.8em;
  border-radius: 5px;
  border: 1px solid grey;
}
i {
  padding-top: 0;
  vertical-align: middle;
}
i.lower-lg-icon {
  line-height: 1.8em;
}
.pad-right {
  padding-right: 1.2em;
  /*opacity: 0.5;*/
}
.pad-right:nth-child(2) {
  padding-right: 0.7em;
}
.icon:hover {
  /*opacity: 1;*/
}
.navbar-text-view {
  font-size: 0.8em;
  margin: -.5em 4.5em 0 4.5em;
}
/*NAVBAR --- ADD*/
.navbar-add-event {
  display: inline-block;
  position: relative;
  left: 15%;
  float: left;
  cursor: pointer;
}
i.lower-2x-icon {
  line-height: 1.2em;
}
.navbar-text-add{
  font-size: 0.8em;
  margin: -0.5em 0 0 -1.5em;
}
/*account*/
.navbar-account {
  float: right;
  right: 2%;
  position: relative;
  cursor: pointer;
}
.navbar-text-account {
  padding: 0 0 0 0.5em;
}
.navbar-text-account {
  top: 0.5em;
  position: relative;
}
/*dropdown*/
li {
  list-style-type: none;
}
li.navbar-text-account {
  display: inline;
}
.lower-navbar-items li {
  float: left;
  display: inline;
  margin: 0 1em 0 0 ;
}
/*login is temporary*/
.navbar-login {
  float: right;
  position: relative;
  right: 5%;
  cursor: pointer;
}
.options-area {
  min-height: 120px;
}
/*graph*/
graph {
  float: left;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px 0 0 10px;
  margin: 0 0 0 1em;
  -webkit-box-shadow: inset -10px 0 0 rgba(255, 255, 255, .90), 0 5px 10px rgba(0, 0, 0, .15);
          box-shadow: inset -10px 0 0 rgba(255, 255, 255, .90), 0 5px 10px rgba(0, 0, 0, .15);

}
/*log*/
.log {
  position: relative;
  float: left;
  padding: 1em;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 10px 10px 0;
  overflow-y: scroll;
  height: 372px;
  border-left: solid 4px transparent;
  -webkit-box-shadow: inset 10px 0 0 rgba(255, 255, 255, .90), 0 5px 10px rgba(0, 0, 0, .15);
          box-shadow: inset 10px 0 0 rgba(255, 255, 255, .90), 0 5px 10px rgba(0, 0, 0, .15);
  /*margin: 0 0 0 0.5em;*/
}
th {
  border-bottom: solid 1px grey;
}
td, th {
  cursor: pointer;
}
th:hover, td:hover {
  background-color: rgba(240, 240, 215, 0.9);
}
td {
  padding: 0 .9em 0 0;
  text-align: right;
}
.notesCursor {
  cursor: default;
}
tr:nth-child(odd) {
  background-color: rgba(232, 225, 209, 0.5);
}
/*links*/
a:visited {
  color: #000;
}
.opacity-half {
  opacity: 0.5;
}
.opacity-half:hover {
  opacity: 1;
}
article {
  border-top: 1px solid #D4D4D4;
  /*padding: 1em 0 0 0;*/
  /*margin: 0 0 0 4em;*/
  position: relative;
  /*width: 100%;*/
  text-align: center;
}
.options-area-component {
  display: inline-block;
  position: relative;
  /*padding: 0.5em;*/
  padding: 0.5em 2em 0.5em 2em;
  margin: 0.1em 0 0 5em;
  /*width: 50%;*/
  border-radius: 4px;
  /*margin: 0 auto;*/
  -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, .90), 0 1px 1px rgba(0, 0, 0, .15);
          box-shadow: inset 0 0 0 rgba(255, 255, 255, .90), 0 1px 1px rgba(0, 0, 0, .15);
  /*background-color: rgba(222, 222, 222, 0.05)*/
  /*background-color: white;*/

}
/*options*/
/*categories*/
.addCategory {
  position: relative;
  padding: 0 0 0.5em 0;
  /*height: 30px;*/
}
.addCategory button {
  /*height: 24px;*/
  margin: 1px 0 0 0;
 /*categories button. if you click new category, the input forms are 1px larger. 
 i just made the button 1px larger to compensate, so it wont be moved. hackish, reminder in css*/
}
.moreCategoryInputsTemplate {
  margin: -1.3em 0 0 0;
}
.moreCategoryInputs-form-meal {
  margin: -.9em 0 0 0;
}
/*modify*/
.modifyTemplate-noteSize {
  width: 418px;
  margin: 0.5em 0 0.5em 0;
}
/*filterTemplate*/
.filterTemplate-timeFilters {
  margin: 0 0 1em 0;
}
/*adding extra margin so that when the time pops open, its 23px vs 27px*/
.filterTemplate-timeFilters button {
  margin: 2px 0 2px 0; 
}

slider {
  width: 200px;
}
slider span.pointer.active:after {
  background-color: #000;
}
slider.energyLevel {
  width: 150px;
}

.position-quickdate-higher .quickdate {
  position: relative;
  top: -1em;
}


