.axis path,
  .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
}
.line {
	fill: none;
	stroke: #4682b4;
	stroke-width: 3px;
}
.line_hover {
  fill: none;
  stroke: orange;
  stroke-width: 3px;
}

.axis text {
      font-family: sans-serif;
      font-size: .75em;
}
#title h1{
	text-align: center;
	font-family: sans-serif;
  font-size: 1.5em;
}
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}