<div class="log log-view-large" ng-show="lifeEventsInView.length > 0"> <!-- log -->
	<table class="log-table">

		<th ng-click="resetFilters()">Date</th> <!-- th start -->
		<th ng-click="resetFilters()">Time</th>
		<th ng-click="resetFilters()">Category</th>
		<th ng-click="resetFilters()">Energy</th>
		<th ng-click="resetFilters()">Size</th>
		<th ng-click="resetFilters()">Opacity</th> 
		<th class="notesCursor" ng-click="resetFilters()">Note</th> <!-- th end -->

		<tr class="events-in-log" ng-repeat="event in lifeEventsInView | filter: filters"> <!-- tr ng-repeat start -->
			<td ng-click="filterDate(event.date)">{{event.date | date:'shortDate'}}</td>
			<td ng-click="filterHour(event.date)">{{event.date | date:'shortTime'}}</td>
			<td ng-click="filterCategory(event.category)">{{event.category}}</td>
			<td ng-click="filterEnergy(event.energylevel)">{{event.energylevel}}</td>
			<td ng-click="filterSize(event.size)">{{event.size}}</td>
			<td ng-click="filterOpacity(event.opacity)">{{event.opacity}}</td>
			<td class="notesCursor">{{event.note}}</td>
		</tr> <!-- tr end -->
		
	</table>
</div> <!-- end log -->
<instructions class="inlineblock instructions log" ng-show="showInstructions"></instructions>
