<nav class="navbar navbar-default"> <!--  ============ navbar =========== -->

			<div class="navbar-view-options">  <!-- navbar-view-options -->
				<span class="button-outer">
					<span class="icon"><a href="#/view/graph"><i class="lower-lg-icon fa fa-bar-chart-o fa-lg"></i></a></span>
					<span class="icon"><a href="#/view/log"><i class="lower-lg-icon fa fa-list-alt fa-lg"></i></a></span>
					<span class="icon"><a href="#/view/main"<i class="lower-lg-icon fa fa-bar-chart-o"></i><i class="small fa fa-list-alt"></i></a></span>
				</span>
				<div class="navbar-text-view">View</div>
			</div>	<!-- navbar-view-options end -->

			<div class="navbar-add-event" ng-click="showInNav('showAdd')"> <!--navbar-add-event-->
				<i class="lower-2x-icon fa fa-plus-circle fa-2x"></i>
				<div class="navbar-text-add">Add Event</div>
			</div> <!-- navbar-add-event end -->
			
			<div class="navbar-account"> <!-- navbar-account -->
				<i class="lower-lg-icon fa fa-calendar-o fa-lg"></i>
				<li class="dropdown navbar-text-account">
					<a class="dropdown-toggle">My Account</a>
				   <ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-cog fa-lg"></i> Settings </a></li>
					   <li><a href="#"><i class="fa fa-share"></i> Sign out</a></li>
				  </ul>
				</li>
				<i class="lower-lg-icon fa fa-angle-down fa-lg"></i>
			</div> <!-- navbar-account end-->
			
			<div class="navbar-login" ng-click="loadData()">  <!-- navbar-login -->
				<i class="lower-lg-icon fa fa-facebook-square fa-lg">Login</i>
			</div> <!-- navbar-login end -->
			
	
		</nav><!-- ================= end navbar  =====================-->