<div class="navbar navbar-lower navbar-default-lower cf"> <!-- ========== lower navbar navbar-default = gradient -->
	<ul class="lower-navbar-items">
		<button ng-click="showInNav('showAddCategories')">Categories</button>
		<button ng-click="showInNav('showModify')">Modify Events</button>
		<button ng-click="showInNav('showFilterdir')">Filter</button>
	</ul>
	<i ng-click="showInstructions = !showInstructions" class="toggle-instructions-icon fa fa-question fa-2x"></i>

</div> <!-- ================ end lower navbar ======================-->