<nav navbarloggedin> </nav> 
<div navbarlower></div> 
<article>
	<optionsarea></optionsarea> 
	<graphlargercomponents class="graph-view-large"></graphlargercomponents>
	<instructions class="inlineblock instructions log" ng-show="showInstructions"></instructions>
</article>