<nav class="navbar navbar-default"> <!--  ============ navbar =========== -->

			<div class="navbar-view-options">  <!-- navbar-view-options -->
				<span class="button-outer">
					<span class="icon"><i class="lower-lg-icon fa fa-bar-chart-o fa-lg"></i></span>
					<span class="icon"><i class="lower-lg-icon fa fa-list-alt fa-lg"></i></span>
					<span class="icon"><i class="lower-lg-icon fa fa-bar-chart-o"></i><i class="small fa fa-list-alt"></i></span>
				</span>
				<div class="navbar-text-view">View</div>
			</div>	<!-- navbar-view-options end -->

			<div class="navbar-add-event" ng-click="showInNav('showAdd')"> <!--navbar-add-event-->
				<i class="lower-2x-icon fa fa-plus-circle fa-2x"></i>
				<div class="navbar-text-add">Add Event</div>
			</div> <!-- navbar-add-event end -->
			
			<div class="navbar-account"> <!-- navbar-account -->
				<i class="lower-lg-icon fa fa-calendar-o fa-lg"></i>
				<li class="dropdown navbar-text-account">
					<a class="dropdown-toggle">My Account</a>
				   <ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-cog fa-lg"></i> Settings </a></li>
					   <li><a href="#"><i class="fa fa-share"></i> Sign out</a></li>
				  </ul>
				</li>
				<i class="lower-lg-icon fa fa-angle-down fa-lg"></i>
			</div> <!-- navbar-account end-->
			
			<div class="navbar-login" ng-click="loadData()">  <!-- navbar-login -->
				<i class="lower-lg-icon fa fa-facebook-square fa-lg">Login</i>
			</div> <!-- navbar-login end -->
			
	
		</nav><!-- ================= end navbar  =====================-->

		
		<div class="navbar navbar-lower navbar-default"> <!-- ========== lower navbar  ======== -->
			<ul class="lower-navbar-items">
				<button ng-click="showInNav('showAddCategories')">Categories</button>
				<button ng-click="showInNav('showModify')">Events</button>
				<button ng-click="showInNav('showFilterdir')">Time/Activity Filter</button>
			</ul>
		</div> <!-- ================ end lower navbar ======================-->

		<article> <!--  ================== article  ============================= -->
			<div class="options-area"> <!-- options area -->
				<div filterdir></div>
				<div add-category></div>
				<div modify></div>
				<div add></div>
			</div> <!-- end options area -->
			
			<!-- graph -->
			<graph data="lifeEventsInView" category="category.setTo" select="event.selected"></graph>
			<!-- end graph -->
		
			<div class="log" ng-show="lifeEventsInView.length > 0"> <!-- log -->
				<table class="log-table">
					<th ng-click="resetFilters()">Date</th>
					<th ng-click="resetFilters()">Time</th>
					<th ng-click="resetFilters()">Category</th>
					<th ng-click="resetFilters()">Note</th>
					<tr class="events-in-log" ng-repeat="event in lifeEventsInView track by $index | filter: filters">
						<td ng-click="filterDate(event.date)">{{event.date | date:'shortDate'}}</td>
						<td ng-click="filterHour(event.date)">{{event.date | date:'shortTime'}}</td>
						<td ng-click="filterCategory(event.category)">{{event.category | limitTo: 15}}</td>
						<td class="trimmed-notes">{{event.note | limitTo: 22}}</td>
					</tr>
				</table>
			</div> <!-- end log -->

		</article> <!-- =================== end article  ==========================-->