<!-- make a button do an ng-show to toggle those options open.  -->

<span ng-show="showAddCategories">
	<div class="addCategory">
		<button ng-click="showAddCategories_add = !showAddCategories_add">New Category</button>
		<span ng-show="showAddCategories_add">
			<form name="addCategoryForm" novalidate class="addCategoryTemplate-addCategoryForm">
				<input ng-model="categories.newCategory.label" type="text" placeholder="Name of category" required></input>
				<input ng-model="categories.newCategory.size" type="text" placeholder="Size scale" required></input>
				<input ng-model="categories.newCategory.opacity" type="text" placeholder="Opacity scale" required></input>
				<button ng-click="categories.add(categories.newCategory)" ng-disabled="addCategoryForm.$invalid">Add Category</button>
			</form>
			<span class="error addCategoryTemplate-addError" ng-show="addCategoryTemplateAddCategoryError">Error!  Please try again.</span>
		</span>
	</div>
	

	<div>
		<button ng-click="showAddCategories_delete = !showAddCategories_delete">Delete Category</button>
		<span ng-show="showAddCategories_delete">
			<form name="deleteCategoryForm" novalidate class="addCategoryTemplate-deleteCategoryForm">
				<select ng-model="categories.selected.categoryToDelete" ng-options="category as category.label for category in categories.list"></select>
				<button ng-click="categories.delete(categories.selected.categoryToDelete)" 
				ng-disabled="categories.selected.categoryToDelete.label ==='meal' || 
				categories.selected.categoryToDelete.label ==='exercise' ||
				categories.selected.categoryToDelete.label ==='work' ||
				categories.selected.categoryToDelete.label ==='sleep'"
				>Delete Category</button>
			</form>
		</span>
	</div>

</span>
