<!-- make a button do an ng-show to toggle those options open.  -->
<button ng-click="showAddCategories = !showAddCategories">showAddCategories</button>
<span ng-show="showAddCategories">
	<input ng-model="categories.newCategory.label" type="text" placeholder="name of category"></input>
	<input ng-model="categories.newCategory.size" type="text" placeholder="size scale"></input>
	<input ng-model="categories.newCategory.opacity" type="text" placeholder="opacity scale"></input>
	<button ng-click="categories.add(categories.newCategory)">Add Category</button>
</span>