<button ng-click="showAddFunc()">Add Event</button>
<div ng-show="showAdd">
	<input ng-model="input.level" type="number" placeholder="0"></input>
	<input ng-model="input.note" type="text" placeholder="note"></input>
	<button ng-click="addEvent(input.level, input.note, input.category)">Add</button>
	<select name="categorytoAdd" ng-model="input.category">
		<option value="">Select an option</option>
		<option value="meal">Meal</option>
		<option value="exercise">Exercise</option>
		<option value="work">Work</option>
		<option value="sleep">Sleep</option>
	</select>
	<datepicker ng-model='dateTimePicked'></datepicker>
	<div ng-show="show.meal">
		meal
		<input ng-model="input.size" type="number" placeholder="zero">How full do you feel? 1-5</input>
		<form>
			<input ng-model="input.checkbox.dairy" type="checkbox">Dairy</input>
			<input ng-model="input.checkbox.fruits" type="checkbox">Fruits</input>
			<input ng-model="input.checkbox.grains" type="checkbox">Grains</input>
			<input ng-model="input.checkbox.meat" type="checkbox">Meat</input>
			<input ng-model="input.checkbox.vegetables" type="checkbox">Vegetables</input>
		</form>
	</div>
	<div ng-show="show.exercise">
		exercise
		<input ng-model="input.size" type="number" placeholder="Minutes"></input>
		<input ng-model="input.opacity" type="number" placeholder="Intensity level, 1-5"></input>
	</div>
	<div ng-show="show.work">
		work
		<input ng-model="input.size" type="number" placeholder="Productivity, 1-5, 5 most productive"></input> 
		<input ng-model="input.opacity" type="number" placeholder="Stress Level, 1-5, 5 most stressed"></input>
	</div>
	<div ng-show="show.sleep">
		sleep
		<input ng-model="input.size" type="number" placeholder="Number of hours"></input>
		<input ng-model="input.opacity" type="number" placeholder="Sleep quality, 1-5, 5 best"></input>
	</div>
</div>
